* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #cfd8dc;
}

h1 {
    font-size: 45px;
    padding: 0.5vh 0 1.5vh 0;
}

h3 {
    margin-top: 1.5vh;
}

#menu, #clipsList, #noClipDiv {
    margin-top: 2.5vh;
    background-color: #eceff1;
}

#menuOption {
    margin-top: 0.5vh;
    margin-bottom: 0.125vh;
    padding: 10px 10px 10px 10px;
    font-size: 24px;
}

#menuOption {
    text-align: center;
    position: relative;
}

#iexport {
    position: absolute;
}

#actionButtons {
    display: inline-block;
}

.clipBlock {
    display: inline-block;
}

.space {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.block {
    display: block;
}